
footer {
    margin-top: 25px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: lightsteelblue;
}
footer .footer-below {
    padding: 25px 0;
    background-color: lightsteelblue;
}
.btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px lightsteelblue;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: lightsteelblue;
    background: white;
    border: solid 2px white;
}

#slider {
    margin-top: 5%;
    padding-bottom: 25px;
}

.carousel-indicators li {
    background: #C4C4BE;
}

.carousel-indicators li.active {
    background: lightsteelblue;
}

.item {
    padding-left: 100px;
}


.pricing {
    position: absolute;
    right: 40%;
    top: 52%;
}

.girl {
    margin-left: 0;
}

.item h1 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 48px;
    margin-top: 115px;
}

.item h1 span {
    color:#FE980F;
}

.item h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 10px;
}

.item  p {
    color:#363432;
    font-size:16px;
    font-weight:300;
    font-family: 'Roboto', sans-serif;
}

.get {
    background: lightsteelblue;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 23px;
}


.item button:hover {
    background: lightsteelblue;
}

.control-carousel {
    position: absolute;
    top: 50%;
    font-size: 60px;
    color: #C2C2C1;
}

.control-carousel:hover{
    color: lightsteelblue ;
}

.right {
    right: 0;
}

.body{
    height: 100%;
}

.item-sale-fix-size{
    height: 600px;
}

.item-main-fix-size{
    height: 400px;
}
