<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top header">
    <div class="container">
        <ul class="nav navbar-nav navbar-left">
            <li><a th:href="@{/books/0/page/1/}">Книги</a></li>
            <li><a th:href="@{/books/0/page/1/}">Бестселлеры</a></li>
        </ul>

        <ul class=" nav navbar-nav navbar-right">
            <li><a th:href="@{/books/0/page/1/}">О нас</a></li>
            <li><a th:href="@{/books/0/page/1/}">Поддержка</a></li>
            <li th:if="${#authorization.getAuthentication().getName()=='anonymousUser'}"><a th:href="@{/login/}">Вход</a></li>
            <li sec:authorize="hasAnyRole('admin','customer')"><a th:href="@{/account/}">Профиль</a></li>
            <li><a th:href="@{/bag/}">Корзина <span class="badge">0</span></a></li>
        </ul>
    </div>
</nav>
<!-- End Header -->